@{
  Layout = "_Layout";
}

@using VendorOrderTracker.Models;

<h1>Add Order</h1>

@if (@Model.Count == 0)
{
  <h2>There are no orders here. </h2>
}
else
{
  
  <form action="/orders" method="post">
    <select name="orderVendorId">
        @foreach (Vendor element in Model)
        {
          <option value=@element.GetListId()>@element.GetVendorName()</option>
        }
    </select>


    <label for="title">Title</label>
    <input id="title" name="title" type="text">

    <label for="description">Description</label>
    <input id="description" name="description" type="text">

    <label for="price">Price</label>
    <input id="price" name="price" type="number">

    <label for="orderDate">Order Date</label>
    <input id="orderDate" name="orderDate" type="date">

    <label for="deliveryForDate">Delivery-For Date</label>
    <input id="deliveryForDate" name="deliveryForDate" type="date">

    <label for="sourDough">Sourdough Bread</label>
    <input id="sourDough" name="sourDough" type="number">

    <label for="milkLoaf">Milk Loaf</label>
    <input id="milkLoaf" name="milkLoaf" type="number">

    <label for="donut">Donut</label>
    <input id="donut" name="donut" type="number">

    <label for="croissant">Croissant</label>
    <input id="croissant" name="croissant" type="number">

    <label for="quiche">Quiche</label>
    <input id="quiche" name="quiche" type="number">

    <label for="cheesePuff">Cheese Puff</label>
    <input id="cheesePuff" name="cheesePuff" type="number">

    <button type="submit">Add</button>
  </form>
}

<p><a href="/vendors">Vendors</a></p>
<p><a href="/orders">Orders</a></p>
<p><a href="/">Home</a></p>